<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Cases - Location</title>
</head>

<body>
    <form method="POST" action="/cases/add/location">
        {% csrf_token %}
        {% load l10n %}
        <table>
            <tr>
                <th>Location</th>
                <th>Date From</th>
                <th>Date To</th>
                <th>Category</th>
            </tr>
            <tr>
                <th>{{ form.location }}</th>
                <th>{{ form.date_from | localize }}</th>
                <th>{{ form.date_to | localize }}</th>
                <th>{{ form.category }}</th>
                <th><input type="submit" name="Add Case" value="Finish"></th>
            </tr>
        </table>
    </form>
</body>

</html>