<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Cases - Patient</title>
</head>

<body>
    <form method="POST" action="/cases/add/virus">
        {% csrf_token %}
        {% load l10n %}
        <table>
            <tr>
                <th>Choose Virus</th>
            </tr>
            <tr>
                <th>{{ form.virus_name }}</th>
                <th><input type="submit" name="Add Case" value="Next"></th>
            </tr>
        </table>
    </form>
    <a href="/cases/add/create_virus">
        <input type="submit" name="create_virus" value="Create New Virus">
    </a>
</body>

</html>