<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Cases - Patient</title>
</head>
<body>
<form method="POST" action="/cases/add/patient">
    {% csrf_token %}
    {% load l10n %}
    <table>
    <tr>
        <th>Name</th>
        <th>ID No.</th>
        <th>Birthday</th>
    </tr>
    <tr>
        <th>{{ form.patient_name }}</th>
        <th>{{ form.patient_id }}</th>
        <th>{{ form.patient_birthday | localize }}</th>
        <th><input type="submit" name="Add Case" value="Next"></th>
    </tr>
    </table>
</form>
</body>
</html>
