<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Location For Existing Case</title>
</head>
<body>
<form method="POST" action="/cases/caselocation/add?no={{ no }}">
    {% csrf_token %}
    {% load l10n %}
    <table>
    <tr>
        <th>Location</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Category</th>
    </tr>
    <tr>
        <th>{{ form.location }}</th>
        <th>{{ form.date_from | localize }}</th>
        <th>{{ form.date_to | localize }}</th>
        <th>{{ form.category }}</th>
        <th><input type="submit" name="Add Case" value="Finish"></th>
    </tr>
    </table>
</form>
<a href="/locations">
    <input type="submit" name="new location" value="Add a New Location">
</a>
</body>
</html>
