<style>
    table {
        width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 15px;
        text-align: left;
    }
</style>
<h1>HotZone</h1>

<p>Search location:</p>
<form action="{% url 'locations:index'%}" method="post">
    {% csrf_token %}
    {{form.name}}
    <input type="submit" name="Find Location">
</form>

{% if location_list %}
<p>Location list:</p>
<table>
    <tr>
        <th>name</th>
        <th>address</th>
        <th>x</th>
        <th>y</th>
    </tr>
    {% for location in location_list %}
    <tr>
        <td>{{ location.name }}</td>
        <td>{{ location.address }}</td>
        <td>{{ location.x }}</td>
        <td>{{ location.y }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No location are found.</p>
{% endif %}