{% block title %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        body {
            margin: 0px auto;
            padding: 0px;
            text-align: center;
        }

        * {
            margin: 0px auto;
            padding: 0px;
        }
    </style>
</head>

<body>
    <h1>Welcome to HotZone!</h1>

    {% if form.errors %}
    <script type="text/javascript">
            $(window).on('load',function(){
                Swal.fire({
                    icon: 'error',
                    title: 'Login information is incorrect!',
                    text: 'Please re-enter username and password.',
                })
            });
        </script>
    <h1>Login information is incorrect!</h1>
    <h1>Please re-enter username and password.</h1>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td><input class="form-control" type="text" name="username" autofocus autocapitalize="none"
                        autocomplete="username" maxlength="150" required id="id_username"></td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td><input class="form-control" type="password" name="password" autocomplete="current-password" required
                        id="id_password"></td>
            </tr>
        </table>
        <input type="submit" value="login" class="btn btn-primary">
        <input type="hidden" name="next" value="{{ next }}" class="btn btn-info">
    </form>
</body>

</html>

{% endblock %}